@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
  }
  

main {
    background-color: #FAFAFA;
    display: flex;
    justify-content: flex-end;
}

.box_input{
    display: flex;
    flex-direction: column;
}

.input_login{
    display: flex;
    flex-direction: column;
}

.img_banner{
    clip-path: polygon(16% 0, 100% 0%, 100% 100%, 0 100%);
}