* {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
  }

.container {
  width: 10vw;
}

header{
  display: flex;
  justify-content: flex-end;
  background-color: #FFFFFF;
  height: 40px;
  align-items: center;
  z-index: 9;
}

header nav{
  display: flex;
  align-items: center;
}

.imagem_perfil_header{
  width: 30px;
  border-radius: 50px;
}

main{
  background-color: #DFFBFF;
  /* height: 100vh; */
}

h2{
  margin: 40px 0 5px 0;
}

h3{
  margin: 25px 70px 0;
}

.menu_lateral{
  background-color: #83BEDF;
  width: 240px;
  height: 100%;
  position: fixed;
  z-index: 100;
  border-radius: 0px 50px 50px 0px;
}

.conteudo_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 410px;
}

.calendar_menu{
  margin-top: 5px;
}

.logo_menu{
  width: 56px;
  color: #FFFFFF;
}

.div_icon{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.imagem_perfil_consulta{
  width: 50px;
  border-radius: 50px;
}

.container_consultas{
  margin-left: 240px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_fundo{
  background-color: #FAFAFA;
  width: 75vw;
  margin-bottom: 50px;
  border-radius: 50px;
}

.container_box{
  display: flex;
}

.box_consulta{
  display: flex;
  background-color: #079DF0;
  margin: 10px 5px;
  width: 190px;
  height: 50vh;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
  box-shadow: 3px 5px 5px 1px #000000;
}

.container_box_listagem{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50vw;
  padding: 20px 0;
}

ul{
  list-style: none;
  text-transform: uppercase;
  width: 160px;
  font-size: 14.5px;
}

.separacao_consulta{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.separacao_cadastro{
  display: flex;
  width: 158px;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.subtext_consulta{
  color: #FFFFFF;
}

.box_cadastro_consulta{
  background-color: #079DF0;
  margin: 30px 0;
  width: 260px;
  height: 50vh;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
  box-shadow: 3px 5px 5px 1px #000000;
}

.box_cadastro_consulta input{
  width: 11.4em;
  height: 30px;
  border-radius: 50px;
}

.select_cadastro{
  width: 11.5em;
  height: 2em;
  border-radius: 50px;
}

.descricao_consulta{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  color: #FFFFFF;
}

.select_descricao{
  border-radius: 50px;
  width: 160px;
  height: 25px;
}

.descricao_consulta input{
  border-bottom: 1px solid #000000;
  background: transparent;
}

.btn_consulta{
  background-color: #FF0000;
  border-radius: 50px;
  color: #FFFFFF;
  width: 160px;
  height: 3em;
  margin-top: 10px;
}

.btn_situacao{
  background-color: #FF0000;
  color: #FFFFFF;
  border-radius: 50px;
  margin-top: 5px;
  width: 152px;
  height: 25px;
}

.btn_situacao:disabled{
  display: none;
}

.btn_consulta:disabled{
  color: #AFAFAF;
  cursor: not-allowed;
  background-color: gainsboro;
  transform: scale(1.0);
}

footer{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer nav{
  width: max-content;
  display: flex;
}

footer p{
  margin-left: 5px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .container {
    width: 50vw
  }

  h3{
    margin: 20px 45px;
  }

  .menu_lateral{
    width: 180px;
  }

  .container_box{
    flex-direction: column-reverse;
  }

  .container_fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box_consulta{
    height: 55vh;
  }

  .box_cadastro_consulta{
    width: 42vw;
    height: 55vh;
    margin-left: 5px;
    margin: 0px 20px 0 20px;
  }

  footer{
    justify-content: flex-end;
  }
}