* {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
  }

  header{
    background-color: #FFFFFF;
    height: 30px;
  }

main{
    background-color: #DFFBFF;
    display: flex;
}

.menu_lateral{
  background-color: #83BEDF;
  width: 240px;
  height: 100%;
  position: fixed;
  border-radius: 0px 50px 50px 0px;
}

.conteudo_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 42vh;
}

.calendar_menu{
  margin-top: 5px;
}

.logo_menu{
  width: 56px;
  color: #FFFFFF;
}

.div_icon{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.imagem_perfil_consulta{
  width: 50px;
  border-radius: 50px;
}

.container_consultas{
  margin-left: 240px;
  border-radius: 50px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_fundo{
  background-color: #FAFAFA;
  width: 70vw;
}

.box_consulta{
  display: flex;
  background-color: #079DF0;
  margin: 10px 0;
  width: 190px;
  height: 40vh;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  box-shadow: 3px 5px 5px 1px #000000;
}

.container_box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50vw;
}

ul{
  list-style: none;
  text-transform: uppercase;
  width: 160px;
  font-size: 14.5px;
}

.separacao_consulta{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.subtext_consulta{
  color: #FFFFFF;
}

.box_cadastro_consulta{
  background-color: #079DF0;
  margin: 10px 0;
  width: 190px;
  height: 40vh;
  border-radius: 26px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 3px 5px 5px 1px #000000;
}

.box_cadastro_consulta input{
  width: 11.4em;
}

.select_cadastro{
  width: 6.6em;
}